{% extends 'index.html' %}

{% block content %}
    <h1 class="mt-4">Admin panel</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Create new reserve
    </button>

    {% if messages %}
        <div class="alert alert-success">
            {% for m in messages %}
                {{m}}
            {% endfor %}
        </div>
    {% endif %}

        <table class="table table-hover mt-4">
            <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Title</th>
                  <th scope="col">Components</th>
                  <th scope="col">Description</th>
                  <th scope="col">Avg price</th>
                    {% if user.is_employee%}
                          <th scope="col">Edit</th>
                          <th scope="col">Delete</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for i in queryset %}
                    <tr {% if i.id|slugify == request.GET.id %} style="background-color:#FFA500" {% endif %}>
                      <th>{{i.id}}</th>
                      <td>{{i.name}}</td>
                      <td>
                          <ul>
                              {% for c in i.components.all %}
                              <li>{{c.name}}</li>
                              {% endfor %}
                          </ul>
                      </td>
                      <td class="col-md-8">{{i.description}}</td>
                      <td>{{i.price}}</td>
                        {% if user.is_employee%}
                            <td><a href="{% url 'update_page' i.pk %}">Edit</a></td>
                            <td><a href="{% url 'delete_page' i.pk %}">Delete</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Drug</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="add_form" method="post">
                  {% csrf_token %}
                  {{form}}
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button form="add_form" type="submit" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}